@import '/src/index.scss';

.feed_container {
  width: 85%;
  .feed_header {
    height: 30px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .feed_container {
    width: 100%;
    height: 100vh;
    background-color: 'red';
    .feed_header {
      height: 70px;
    }
  }
}
