// style sidebar workspace

.sidebar_container_workspace {
  width: 15%;
  height: 100vh;
  border: 1px solid black;
  border-top: none;
  background-color: #000080;
  color: white;
  .btn_sidebar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .plus_icon {
      margin-right: 20px;
    }
  }
  .btn_sidebar_bottom {
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    .params_icon {
      margin-right: 20px;
    }
    .pseudo {
      margin-left: 15px;
    }
  }
  .sidebar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .website_logo {
      width: 50px;
      border-radius: 50%;
      margin: 20px 0 20px 0;
    }
    .website_name {
      margin: 20px 0 20px 0;
    }
  }
}

// style sidebar assets

.sidebar_container_assets {
  width: 15%;
  height: 100vh;
  border: 1px solid black;
  border-top: none;
  background-color: #ffa500;
  .btn_sidebar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .plus_icon {
      margin-right: 20px;
    }
  }
  .btn_sidebar_bottom {
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    .params_icon {
      margin-right: 20px;
    }
    .pseudo {
      margin-left: 15px;
    }
  }
  .sidebar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .website_logo {
      width: 50px;
      border-radius: 50%;
      margin: 20px 0 20px 0;
    }
    .website_name {
      margin: 20px 0 20px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar_container_workspace {
    display: none;
  }
  .sidebar_container_assets {
    display: none;
  }
}
