.workspace_container {
  .treeview {
    margin-top: 10px;
  }
  .title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    background-color: #1d71b8;
    border-radius: 25px;
    margin: 30px;
    .section_name {
      color: white;
    }
    .workspace_icon {
      margin: 0 15px 0 10px;
      color: white;
    }
  }

  .title_channel_container {
    margin: 0px 30px 15px 50px;
  }
}
