.assets_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .folders_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .folder {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      margin-bottom: 20px;
      .folder_icon {
        font-size: 100px;
      }
      .asset_title {
        text-align: center;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .assets_container {
    .folders_container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      .folder {
        width: 20%;
        margin-bottom: 20px;
        .folder_icon {
          font-size: 150px;
        }
      }
    }
  }

  #context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
  }

  #context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
  }

  #context-menu .item:hover {
    background: #555;
  }

  #context-menu .item .icon_menu {
    display: inline-block;
    margin-right: 5px;
  }

  #context-menu hr {
    margin: 2px 0px;
    border-color: #555;
  }
}
