.logo {
  position: absolute;
  width: 50px;
  right: 3px;
  top: 15px;
}

// .navbar_container {
//   width: 100%;
//   float: right;
//   .mobile_searchbar_icon {
//     display: none;
//   }
//   .desktop_searchbar {
//     margin-right: 40px;
//   }
//   .logo_user {
//     cursor: pointer;
//   }
// }

// @media screen and (max-width: 768px) {
//   .navbar_container {
//     border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//     .mobile_searchbar_icon {
//       display: block;
//       margin-right: 20px;
//     }
//     .desktop_searchbar {
//       display: none;
//     }
//     .logo_user {
//       margin-right: 20px;
//       width: 40px;
//     }
//   }

//   .mobile_searchbar_container {
//     display: flex;
//     justify-content: center;
//     .mobile_searchbar {
//       margin-top: 15px;
//     }
//   }
// }

// /* reset CSS drop-down menu MUi */

// .MuiList-padding {
//   padding: 0 !important;
// }

// .MuiMenuItem-root {
//   padding: 5px !important;
//   min-height: 0 !important;
// }

// .MuiListItemIcon-root {
//   min-width: 0 !important;
// }

// .MuiPopover-root {
//   background: none !important;
//   background-color: none !important;
// }
